{% extends "homepage/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Carte pour les Modèles de Machine Learning -->
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="url_to_ml_image" class="card-img-top" alt="Machine Learning">
                <div class="card-body">
                    <h5 class="card-title">Modèles de Machine Learning</h5>
                    <p class="card-text">Découvrez les prédictions pour optimiser vos récoltes.</p>
                    <a href="#" class="btn btn-primary">Explorer</a>
                </div>
            </div>
        </div>

        <!-- Carte pour la Visualisation des Données -->
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="url_to_data_viz_image" class="card-img-top" alt="Data Visualization">
                <div class="card-body">
                    <h5 class="card-title">Visualisation des Données</h5>
                    <p class="card-text">Visualisez vos données pour prendre des décisions éclairées.</p>
                    <a href="#" class="btn btn-primary">Visualiser</a>
                </div>
            </div>
        </div>

        <!-- Carte pour la Simulation -->
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="url_to_simulation_image" class="card-img-top" alt="Simulation">
                <div class="card-body">
                    <h5 class="card-title">Simulation</h5>
                    <p class="card-text">Simulez différents scénarios pour votre exploitation.</p>
                    <a href="#" class="btn btn-primary">Simuler</a>
                </div>
            </div>
        </div>

        <!-- Carte pour le Chatbot -->
        <div class="col-md-4 mt-4">
            <div class="card" style="width: 18rem;">
                <img src="url_to_chatbot_image" class="card-img-top" alt="Chatbot">
                <div class="card-body">
                    <h5 class="card-title">Chatbot</h5>
                    <p class="card-text">Posez vos questions et obtenez des réponses instantanées.</p>
                    <a href="#" class="btn btn-primary">Discuter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
