{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
<div style="background-color: #2ecc71; padding: 50px; text-align: center">

    <a href="" target="_blank"> <!-- Replace the href with your desired link -->
      <img
        src="{% static 'agrilogo.png' %}"
        alt="Logo ANSADE"
        style="width: 200px; height: auto; margin-bottom: 20px"
      />
    </a> 
  
    <h1>Bienvenue sur Agrinovators app</h1>
    <p class="h6">
      Aggrinnovators, plateforme visant a fournir aux agriculteurs des outils et des solutions numériques pour les aider
       à maximiser leur productivité, et optimiser leurs pratiques agricoles.
    </p>
    <h2 class="pb-3">Nos Fonctionnalités</h2>
    <div class="d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem">
        <div class="card-body">
          <img
            src="{% static 'fonct1.png' %}"
            alt="Your Logo"
            class="pb-3"
            width="100px"
          />
          <h5 class="card-title pb-3">Modèles de Machine Learning</h5>
          <a href="{% url 'home'%}" class="btn btn-success"
            >Explorer</a
          >
        </div>
      </div>
      <div class="card text-center ms-3" style="width: 18rem">
        <div class="card-body">
          <img
            src="{% static 'fonct3.png' %}"
            alt="Your Logo"
            class="pb-3"
            width="100px"
          />
  
          <h5 class="card-title pb-3">Visualisation des Données</h5>
          <a href="{% url 'home' %}" class="btn btn-success"
            >Visualiser</a
          >
        </div>
      </div>
      <div class="card text-center ms-3" style="width: 18rem">
        <div class="card-body">
          <img
            src="{% static 'fonct2.png' %}"
            alt="Your Logo"
            class="pb-3"
            width="100px"
          />
  
          <h5 class="card-title pb-3">Simulez différents scénarios pour votre exploitation.</h5>
          <a href="{%url 'home'%}" class="btn btn-success"
            >simuler</a
          >
        </div>
      </div>
      <div class="card text-center ms-3" style="width: 18rem">
        <div class="card-body">
          <img
            src="{% static 'fonct4.png' %}"
            alt="Your Logo"
            class="pb-3"
            width="100px"
          />
  
          <h5 class="card-title pb-3">Chatbot</h5>
          <a href="{%url 'home'%}" class="btn btn-success"
            >Discuter</a
          >
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}
  
